<%- include('partials/header.ejs') %>
<style>
    .alert {
        display: none;
    }
</style>

<!-- Begin page -->
<div id="layout-wrapper">
    <!-- Start right Content here -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div
                            class="page-title-box d-sm-flex align-items-center justify-content-between"
                        >
                            <h4 class="mb-sm-0">Brands</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);"
                                            >Dashboard</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Brands
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div
                                    class="d-flex align-items-center flex-wrap gap-3"
                                >
                                    <div class="flex-grow-1">
                                        <h3 class="card-title mb-0">
                                            Brand List
                                        </h3>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-wrap gap-2">
                                            <button
                                                type="button"
                                                class="btn btn-thm add-btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#showModal"
                                                data-name="Category"
                                            >
                                                <i
                                                    class="bi bi-plus-circle align-baseline me-1"
                                                ></i>
                                                Add Brand
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                            >
                                                <i
                                                    class="ph-cloud-arrow-down align-middle me-1"
                                                ></i>
                                                Import
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-subtle-info"
                                            >
                                                <i
                                                    class="ph-cloud-arrow-up align-middle me-1"
                                                ></i>
                                                Export
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

                <div class="row" id="customer-list">
                    <div class="col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row gy-3">
                                    <div class="col-xl-4">
                                        <div class="search-box">
                                            <input
                                                type="text"
                                                class="form-control search"
                                                placeholder="Search customer, email etc..."
                                            />
                                            <i
                                                class="ri-search-line search-icon"
                                            ></i>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-4">
                                        <div>
                                            <select
                                                class="form-control"
                                                id="idStatus"
                                                data-choices
                                                data-choices-search-false
                                            >
                                                <option value="all">
                                                    All Select
                                                </option>
                                                <option value="Active">
                                                    Active
                                                </option>
                                                <option value="Unactive">
                                                    Unactive
                                                </option>
                                                <option value="Block">
                                                    Block
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-md-4">
                                        <input
                                            type="text"
                                            class="form-control"
                                            id="datepicker-range"
                                            data-provider="flatpickr"
                                            data-date-format="d M, Y"
                                            data-range-date="true"
                                            placeholder="Select date"
                                        />
                                    </div>
                                    <div class="col-xl-2 col-md-4">
                                        <button
                                            class="btn btn-subtle-primary w-100"
                                            onclick="filterData();"
                                        >
                                            <i
                                                class="bi bi-funnel align-baseline me-1"
                                            ></i>
                                            Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table
                                        class="table align-middle table-nowrap"
                                    >
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="form-check">
                                                        <input
                                                            class="form-check-input"
                                                            type="checkbox"
                                                            value="option"
                                                            id="checkAll"
                                                        />
                                                        <label
                                                            class="form-check-label"
                                                            for="checkAll"
                                                        ></label>
                                                    </div>
                                                </th>
                                                <th class="sort cursor-pointer">
                                                    Icon
                                                </th>
                                                <th class="sort cursor-pointer">
                                                    Category
                                                </th>
                                                <th class="sort cursor-pointer">
                                                    Slug
                                                </th>
                                                <th class="sort cursor-pointer">
                                                    Meta Title
                                                </th>
                                                <th class="sort cursor-pointer">
                                                    Meta Description
                                                </th>
                                                <th class="sort cursor-pointer">
                                                    Status
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="noresult" style="display: none">
                                    <div class="text-center py-4">
                                        <i
                                            class="ph-magnifying-glass fs-1 text-primary"
                                        ></i>
                                        <h5 class="mt-2">
                                            Sorry! No Result Found
                                        </h5>
                                        <p class="text-muted mb-0">
                                            We've searched more than 150+
                                            customers We did not find any
                                            customers for you search.
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="align-items-center mt-4 justify-content-between row text-center text-sm-start"
                                    id="pagination-element"
                                >
                                    <div class="col-sm">
                                        <div class="text-muted">
                                            Showing
                                            <span class="fw-semibold">10</span>
                                            of
                                            <span class="fw-semibold">13</span>
                                            Results
                                        </div>
                                    </div>
                                    <div class="col-sm-auto mt-3 mt-sm-0">
                                        <div
                                            class="pagination-wrap hstack gap-2"
                                        >
                                            <a
                                                class="page-item pagination-prev disabled"
                                                href="javascript:void(0)"
                                                >Previous</a
                                            >
                                            <ul
                                                class="pagination listjs-pagination mb-0"
                                            ></ul>
                                            <a
                                                class="page-item pagination-next"
                                                href="javascript:void(0)"
                                                >Next</a
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->

<!-- Add Category Modal -->
<div
    class="modal fade"
    id="showModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Add Brand</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    id="close-ordermodal"
                ></button>
            </div>
            <form class="tablelist-form" id="addCategoryForm">
                <div class="modal-body">
                    <div
                        id="alert-error-msg"
                        class="alert alert-danger py-2"
                    ></div>
                    <input type="hidden" id="id-field" />

                    <div class="text-center mb-3"></div>
                    <div class="mb-3">
                        <label for="customername-field" class="form-label"
                            >Brand Name</label
                        >
                        <input
                            type="text"
                            id="customername-field"
                            class="form-control"
                            name="name"
                            placeholder="Enter Brand name"
                        />
                    </div>

                    <div>
                        <label for="status-field" class="form-label"
                            >Status</label
                        >
                        <select
                            class="form-control"
                            name="status"
                            id="status-field"
                            required
                        >
                            <option value="">Status</option>
                            <option value="Active">Active</option>
                            <option value="Block">Block</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button
                            type="button"
                            class="btn btn-light"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="submit"
                            class="btn btn-success"
                            id="add-btn"
                        >
                            Add Brand
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end Add Category Modal -->

<!-- Edit Category Modal -->

<!-- end Add Category Modal -->

<!-- deleteRecordModal -->

<!-- /deleteRecordModal -->

<%- include('partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#addCategoryForm").on("submit", function (event) {
            event.preventDefault();

            const name = $("#customername-field").val();
            const status = $("#status-field").val();

            $.ajax({
                type: "POST",
                url: "/admin/brand/add", // Adjust URL based on your routes
                contentType: "application/json",
                data: JSON.stringify({ name, status }),
            })
                .done((res) => {
                    if (res.status == 200) {
                        iziToast.success({
                            title: "Success",
                            message: res.message,
                            position: "topRight",
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        iziToast.error({
                            title: "Error",
                            message: res.message,
                            position: "topRight",
                        });
                    }
                })
                .fail(function (xhr, status, error) {
                    iziToast.error({
                        title: "Error",
                        message: xhr.responseText,
                        position: "topRight",
                    });
                });
        });
    });
</script>
