                                    <!-- <div>
                                        <label for="status-field"
                                            class="form-label">Status</label>
                                        <select class="form-control"
                                            id="status-field" name="status_id">
                                            <option value="" disabled selected>
                                                Select Status
                                            </option>
                                            <% statuses.forEach(function(element) { %>
                                                <option
                                                    value="<%= element._id %>">
                                                    <%= element.name %>
                                                </option>
                                                <% }); %>
                                            </select>
                                        </div> -->